.container {
  width: 100%;
  padding-left: 168px;
  padding-right: 168px;
  max-width: 2560px;
  margin: 0 auto;
  // 1920
  @media only screen and (max-width: 1920px) {
    max-width: 1920px;
    padding-left: 168px;
    padding-right: 168px;
  }
  //   1440
  @media only screen and (max-width: 1679px) {
    max-width: 1679px;
    padding-left: 89px;
    padding-right: 89px;
  }
  //1280
  @media only screen and (max-width: 1439px) {
    max-width: 1439px;
    padding-left: 55px;
    padding-right: 55px;
  }
  //992
  @media only screen and (max-width: 1279px) {
    max-width: 1279px;
    padding-left: 89px;
    padding-right: 89px;
  }
  //768
  @media only screen and (max-width: 991px) {
    max-width: 991px;
    padding-left: 55px;
    padding-right: 55px;
  }
  //480
  @media only screen and (max-width: 767px) {
    max-width: 991px;
    padding-left: 34px;
    padding-right: 34px;
  }
  // 375
  @media only screen and (max-width: 479px) {
    max-width: 479px;
    padding-left: 21px;
    padding-right: 21px;
  }
}

// .header-container {
//   width: 100%;
//   padding-left: 55px;
//   padding-right: 55px;
//   margin: 0 auto;
//   //768
//   @media only screen and (max-width: 991px) {
//     max-width: 991px;
//     padding-left: 55px;
//     padding-right: 55px;
//   }
//   //480
//   @media only screen and (max-width: 767px) {
//     max-width: 991px;
//     padding-left: 34px;
//     padding-right: 34px;
//   }
//   // 375-320
//   @media only screen and (max-width: 479px) {
//     max-width: 479px;
//     padding-left: 21px;
//     padding-right: 21px;
//   }
// }
