.home-container {
  padding-top: 89px;
  &__left {
    width: 30%;
  }
  &__right {
    padding-top: 250px;
    width: 70%;
    gap: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    h3 {
      font-size: 34px;
      font-weight: 500;
    }
    h2 {
      font-size: 55px;
      font-weight: 500;
    }
    h4 {
      font-size: 21px;
      font-weight: 300;
    }
    .animated-text {
      overflow: hidden;
      animation: typing 3s steps(30) forwards;
      white-space: nowrap;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }

  //responsive

  @media only screen and (max-width: 1920px) {
    padding-top: 55px;
  }
  //   1440
  @media only screen and (max-width: 1679px) {
    padding-top: 34px;
    padding-bottom: 55px;
  }
  //1280
  @media only screen and (max-width: 1439px) {
    h3 {
      font-size: 34px;
      font-weight: 500;
    }
    h2 {
      font-size: 34px;
      font-weight: 500;
    }
    h4 {
      font-size: 21px;
      font-weight: 300;
    }
  }
  //992
  @media only screen and (max-width: 1279px) {
  }
  //768
  @media only screen and (max-width: 991px) {
  }
  //480
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 21px;
    &__right {
      padding-top: 34px;
    }
    h3 {
      font-size: 55px;
      font-weight: 500;
    }
    h2 {
      font-size: 21px;
      font-weight: 500;
    }
    h4 {
      font-size: 16px;
      font-weight: 300;
    }
  }
  // 375
  @media only screen and (max-width: 479px) {
    h3 {
      font-size: 34px;
      font-weight: 500;
    }
    h2 {
      font-size: 16px;
      font-weight: 500;
    }
    h4 {
      font-size: 21px;
      font-weight: 300;
    }
  }
}
